<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>心愿邮件</title>
<style type="text/css">
body {
	background-image:url("{{ static_url('../static/4.jpg') }}");
	background-size: cover;
	}
	.xinzhi{
		position:absolute;
		left:180px;
		top:120px;
		border:10px solid #FFFFFF;
		background-color:#FFFFFF;
		width:1100px;
		height:500px;
		margin:0 auto;
		border-radius:10px;
		-moz-box-shadow:10px 10px 10px #888888;
		box-shadow:20px 20px 15px #888888;
	}
	.gou{
		position:absolute;
		left:300px;
		top:40px;
		width:80px;
		height:80px;
	}
</style>
</head>

<body>
<Div class="xinzhi">
	<Div class="gou"><img src="/static/5.jpg"></div>
</div>
</body>
</html>