<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>心愿邮件</title>
<style type="text/css">
body {
	background-image:url("../static/3.jpg");
	background-size: cover;
	}
	.up{
		position:absolute;
		left:50px;
		top:50px;
		color:#FFFFFF;
		font-weight: 900;
		font-size:60px;
	}
	.down{
		position:absolute;
		left:1100px;
		top:540px;
		border:10px solid #193B57;
		background-color:#193B57;
		width:200px;
		height:100px;
		margin:0 auto;
		border-radius:10px;
	}
	p{
		font-size:45px;
		position:relative;
		left:10px;
		top:-24px;
		color:#FFFFFF
	}
</style>
</head>

<body>
	<Div class="up"> 
		听说对着星空许愿
		<br>
		愿望会很快实现
		<br>
		快写下你的心愿吧
		<br>
		这里是幸福开始的地方
		</div>
	<a href="wish"><Div class="down"><p>开始许愿</p></div></a>
</body>
</html>
